EMailAdmin/Web References/PassedAwayTesting/EMailSenderInformationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SetPaxPassedAway">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="countryCode" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="voucherCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nationalId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="passedAway" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetPaxPassedAwayResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SetPaxPassedAwaySoapIn">
    <wsdl:part name="parameters" element="tns:SetPaxPassedAway" />
  </wsdl:message>
  <wsdl:message name="SetPaxPassedAwaySoapOut">
    <wsdl:part name="parameters" element="tns:SetPaxPassedAwayResponse" />
  </wsdl:message>
  <wsdl:portType name="EMailSenderInformationServiceSoap">
    <wsdl:operation name="SetPaxPassedAway">
      <wsdl:input message="tns:SetPaxPassedAwaySoapIn" />
      <wsdl:output message="tns:SetPaxPassedAwaySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EMailSenderInformationServiceSoap" type="tns:EMailSenderInformationServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetPaxPassedAway">
      <soap:operation soapAction="http://tempuri.org/SetPaxPassedAway" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EMailSenderInformationServiceSoap12" type="tns:EMailSenderInformationServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetPaxPassedAway">
      <soap12:operation soapAction="http://tempuri.org/SetPaxPassedAway" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EMailSenderInformationService">
    <wsdl:port name="EMailSenderInformationServiceSoap" binding="tns:EMailSenderInformationServiceSoap">
      <soap:address location="http://172.17.1.81:8088/EMailSenderInformationService.asmx" />
    </wsdl:port>
    <wsdl:port name="EMailSenderInformationServiceSoap12" binding="tns:EMailSenderInformationServiceSoap12">
      <soap12:address location="http://172.17.1.81:8088/EMailSenderInformationService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>