EMailBackEnd/Web References/wsXAM/WSMail.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/eAA.WS.Mail" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/eAA.WS.Mail" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfServiceCase">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServiceCase" nillable="true" type="tns:ServiceCase" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServiceCase" nillable="true" type="tns:ArrayOfServiceCase" />
  <xs:complexType name="ServiceCase">
    <xs:sequence>
      <xs:element minOccurs="0" name="AssistanceCountry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CaseId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Coordinator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Delay" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceCase" nillable="true" type="tns:ServiceCase" />
</xs:schema>