EMailBackEnd/Web References/wsXAM/WSMail0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://acixamweb05.assist-card.com.ar/eAAvs/WebServices/WsMail/WSMail.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/eAA.WS.Mail" />
  <xs:element name="GetCasesForSendingMail">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCasesForSendingMailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/eAA.WS.Mail" minOccurs="0" name="GetCasesForSendingMailResult" nillable="true" type="q1:ArrayOfServiceCase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCasesMoreThanThreeDays">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCasesMoreThanThreeDaysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/eAA.WS.Mail" minOccurs="0" name="GetCasesMoreThanThreeDaysResult" nillable="true" type="q2:ArrayOfServiceCase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>